.contact{
  padding:8px 0 8px 200px;
}
.bg{
  background-color:darkblue ;
}
.pad{
  padding:0 0 0 0;
}
.align{
  padding:20px 5px 0 15px;
}
.p{
  padding-left: 180px;
}
.topnav {
  overflow: hidden;
}
.link.active{
border-bottom: 3px solid blue;
}
.link.hover{
border-bottom: 3px solid blue;
}
.carousel-item{
height:215px;
background:black;
}
.carousel-caption{
  padding-bottom:250px !important;
}
.pic{
height:300px;
}
.value{
 font-size:10px;
 width:300px;
}
.colr{
color:darkblue!important;
}

@media (min-width: 768px) {
  .carousel-item{
  height:480px;
  }
}
@media (min-width: 992px) {
  .align{
    padding:8px 50px 0 200px;
  }
  .pad{
    padding:8px 50px 0 80px;
  }
.carousel-item{
height:950px;
}
.carousel-caption{
  padding-bottom:200px !important;
}
.pic{
height:300px;
}
.value{
 font-size:20px;
 width:500px;
}
 }
